<p>From Google Earth, select a location on the map by simply left-mouse clicking. A gray icon will appear at the exact location. Click this icon again and a blue icon will appear with the exact negative and positive of the location.</p>

<div>
    Input Latitude: <input type="number" ng-bind="lat" value="{{latitude}}"/>
</div>
<div>
    Input Longitude: <input type="number" ng-bind="lng" value="{{longitude}}"/>
</div>
<div>
    <button (click)="mapInitializer()">View Location</button>
</div>

<div #mapContainer id="map"></div>
